@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-navigation-size: 28px !important;
  --swiper-navigation-color: #aaa !important;
}

body {
  font-family: "Roboto", sans-serif;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.swiper {
  width: 100%;
  height: fit-content;
}

.custom-swiper-hide .swiper-button-next,
.custom-swiper-hide .swiper-button-prev {
  opacity: 0;
  transition: opacity 0.3s;
}

.custom-swiper-hide:hover .swiper-button-next,
.custom-swiper-hide:hover .swiper-button-prev {
  opacity: 1;
}
