@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --swiper-navigation-size: 28px !important;
    --swiper-navigation-color: #aaa !important;
}

body {
    font-family: 'Roboto', sans-serif;
}
